In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("input"))

['imbd-sf']

In [5]:
data = pd.read_csv('input/imbd-sf/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [6]:
len(data)

1890

# Предобработка датасета

In [23]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [ ]:
display(data[data.budget == data.budget.max()])

In [26]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append("4. The Warrior's Way (tt1032751)")

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [ ]:
display(data[data.runtime == data.runtime.max()])

In [27]:
answer_ls.append("2. Gods and Generals	(tt0279111)")

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [ ]:
display(data[data.runtime == data.runtime.min()])

In [28]:
answer_ls.append("3. Winnie the Pooh tt1449283")

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [ ]:
print(data.runtime.mean())

In [29]:
answer_ls.append("2. 110")

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [ ]:
print(data.runtime.median())

In [30]:
answer_ls.append("1. 106")

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [ ]:
data['profit'] = data.revenue - data.budget
display(data[data.profit == data.profit.max()])

In [31]:
answer_ls.append("5. Avatar	tt0499549")

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [ ]:
display(data[data.profit == data.profit.min()])

In [32]:
answer_ls.append("2. The Warrior's Way tt1032751")

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [ ]:
print(len(data[data.profit > 0]))

In [33]:
answer_ls.append("1. 1478")

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [ ]:
data2 = data[data.release_year == 2008]
display(data2[data2.profit == data2.profit.max()])

In [34]:
answer_ls.append("4. The Dark Knight	tt0468569")

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [ ]:
data2 = data.query('2012<=release_year<=2014') 
display(data2[data2.profit == data2.profit.min()])

In [35]:
answer_ls.append("5. The Lone Ranger	tt1210819")

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [ ]:
# Необходимо сформировать DataFrame в составе: 
# imdb_id - Id фильма
# ganres - жанр фильма
filmid_list = []
ganres_list = []

for i in range(0,len(data)):
    s_list = data.iloc[i].genres.split('|')
    for s in s_list:
        filmid_list.append(data.iloc[i].imdb_id)
        ganres_list.append(s)
                     
# DataFrame сформируем из словаря ganres_dict  
ganres_dict = {
    'imdb_id': filmid_list,
    'ganre': ganres_list
}
    
ganres_df = pd.DataFrame(ganres_dict)

# Соединим таблицы для и определим, какого жанра фильмов больше всего 
df = ganres_df.merge(data, on='imdb_id', how='left')

# Сгруппируем значения по жанрам 
display(df['ganre'].value_counts())

In [36]:
answer_ls.append("3. Drama")

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [ ]:
# Внимание! Порядок перечисления в Notebook не соответствует порядку перечисления в тесте
# Из списка фильмов выелим фильмы с прибылью 
df_prof = data[data.profit > 0]
# сделаем связку 
df = df_prof.merge(ganres_df, on='imdb_id', how='inner')
#print(len(df_prof))
#print(len(df))

# Ответ 
display(df['ganre'].value_counts())

In [37]:
answer_ls.append("1. Drama")

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
filmid_list = []
director_list = []

for i in range(0,len(data)):
    s_list = data.iloc[i].director.split('|')
    for s in s_list:
        filmid_list.append(data.iloc[i].imdb_id)
        director_list.append(s)
                     
# DataFrame сформируем из словаря director_dict  
director_dict = {
    'imdb_id': filmid_list,
    'ddirector': director_list
}
    
director_df = pd.DataFrame(director_dict)

# Соединим таблицы для и определим, какого жанра фильмов больше всего 
df = director_df.merge(data, on='imdb_id', how='left')

# Сгруппируем значения по жанрам 
display(df['ddirector'].value_counts())

In [38]:
answer_ls.append("3. Steven Soderbergh")

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [ ]:
# Внимание! Порядок перечисления в Notebook не соответствует порядку перечисления в тесте  
# сделаем связку c режиссерами DF прибыльных фильмов (см. задание #12) 

df = df_prof.merge(director_df, on='imdb_id', how='inner')
print(len(df_prof))
print(len(df))
display(df['ddirector'].value_counts())

In [39]:
answer_ls.append("4. Ridley Scott")

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [ ]:
df.groupby(['ddirector'])['profit'].sum().sort_values(ascending=False)

In [40]:

answer_ls.append("5. Peter Jackson")

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [ ]:
filmid_list = []
cast_list = []

for i in range(0,len(data)):
    s_list = data.iloc[i].cast.split('|')
    for s in s_list:
        filmid_list.append(data.iloc[i].imdb_id)
        cast_list.append(s)
                     
cast_dict = {
    'imdb_id': filmid_list,
    'ccast': cast_list
}
# DataFrame сформируем из словаря cast_dict      
cast_df = pd.DataFrame(cast_dict)
df = df_prof.merge(cast_df, on='imdb_id', how='inner')
# Получаем ответ 
df.groupby(['ccast'])['profit'].sum().sort_values(ascending=False)

In [41]:
answer_ls.append("1. Emma Watson")

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [ ]:
df_prof2012 = data[data.release_year == 2012] 
df = df_prof2012.merge(cast_df, on='imdb_id', how='inner')
df.groupby(['ccast'])['profit'].sum().sort_values(ascending=True)

In [42]:
answer_ls.append("3. Kirsten Dunst")

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [ ]:
df = data.merge(cast_df, on='imdb_id', how='inner')
df[df.budget > df.budget.mean()].ccast.value_counts()

In [43]:
answer_ls.append("3. Matt Damon")

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [ ]:
df = ganres_df.merge(data, on='imdb_id', how='left')
df_NC = df.merge(cast_df[cast_df.ccast == 'Nicolas Cage'] ,on='imdb_id', how='inner')
display(df_NC.ganre.value_counts())

In [44]:
answer_ls.append("2. Action")

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [ ]:
filmid_list = []
companies_list = []

for i in range(0,len(data)):
    s_list = data.iloc[i].production_companies.split('|')
    for s in s_list:
        filmid_list.append(data.iloc[i].imdb_id)
        companies_list.append(s)
                     
companies_dict = {
    'imdb_id': filmid_list,
    'companie': companies_list
}
# DataFrame сформируем из словаря companies_dict      
companies_df = pd.DataFrame(companies_dict)

df = companies_df.merge(data, on='imdb_id', how='left')
display(df['companie'].value_counts())

In [45]:
answer_ls.append("1. Universal Pictures (Universal)")

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [ ]:
df = companies_df.merge(data[data.release_year == 2015], on='imdb_id', how='inner')

display(df['companie'].value_counts())

In [46]:
answer_ls.append("4. Warner Bros")

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [ ]:
#df = companies_df.merge(df_prof, on='imdb_id', how='left')
df = companies_df.merge(data, on='imdb_id', how='left')
df1 = df.merge(ganres_df[ganres_df.ganre == 'Comedy'], on='imdb_id', how='inner')

display(df1.groupby(['companie'])['profit'].sum().sort_values(ascending=False))

In [47]:
answer_ls.append("2. Universal Pictures (Universal)")

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [ ]:
#df = companies_df.merge(df_prof, on='imdb_id', how='left')
df = companies_df.merge(data[data.release_year == 2012], on='imdb_id', how='left')

display(df.groupby(['companie'])['profit'].sum().sort_values(ascending=False))

In [48]:
answer_ls.append("3. Columbia Pictures")

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [ ]:
df = data.merge(companies_df[companies_df.companie == 'Paramount Pictures'], on='imdb_id', how='inner')
display(df[df.profit == df.profit.min()])

In [50]:
answer_ls.append("1. K-19: The Widowmaker tt0267626")

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [ ]:
display(data.groupby(["release_year"])['profit'].sum().sort_values(ascending=False))
#display(df_prof.groupby(["release_year"])['profit'].sum().sort_values(ascending=False))

In [ ]:
answer_ls.append("5. 2015")

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [ ]:
df = data.merge(companies_df[companies_df.companie.str.match("Warner Bros", na = False)], on='imdb_id', how='inner')
display(df.groupby(["release_year"])['profit'].sum().sort_values(ascending=False))

In [51]:
answer_ls.append("1. 2014")

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [ ]:
#Найдем месяц и поместим его в переменную month в data
data['month'] = data.release_date.apply(lambda x: x.split('/')[0])
display(data.head(2))

In [52]:
answer_ls.append("4. Сентябрь")

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [ ]:
len(data[(data.month == '6')|(data.month == '7')|(data.month == '8')])

In [53]:
answer_ls.append("2. 450")

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [ ]:
df = director_df.merge(data[(data.month == '1')|(data.month == '2')|(data.month == '12')], on='imdb_id', how='inner')
display(df.ddirector.value_counts())

In [54]:
answer_ls.append('5. Peter Jackson')

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [ ]:
df2 = data.pivot_table(columns = 'month', index = 'release_year', values = 'profit', aggfunc = 'sum', margins=True, fill_value=0)

In [55]:
answer_ls.append("2. Июнь")

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
df = data.merge(companies_df, on='imdb_id', how='inner')
display(df.groupby(["companie"])['letter_count'].sum().sort_values(ascending=False))

In [56]:
answer_ls.append('2. Warner Bros')

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
display(df.groupby(["companie"])['world_count'].sum().sort_values(ascending=False))

In [57]:
answer_ls.append("2. Warner Bros")

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [ ]:
#Сформируем словарь используемых слов world_dict
world_list = []
for i in range(0,len(data)):
    s_list = data.iloc[i].original_title.split(' ')
    for s in s_list:
        world_list.append(s.lower())
                     
world_dict = {'world': world_list}
world_df = pd.DataFrame(world_dict)

# Вычислим количество уникальных слов в стоваре
len(world_df.world.unique())

In [58]:
answer_ls.append("3. 2461")

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [ ]:
df = data[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]
display(df['original_title'])
# Смотрим глазами, но это не спортивно

In [59]:
answer_ls.append("1. Inside Out, Gone Girl, 12 Years a Slave")

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [60]:
answer_ls.append("Daniel Radcliffe & Rupert Grint")

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [61]:
answer_ls.append("3. Robert Rodriguez")

# Submission

In [62]:
len(answer_ls)

36

In [63]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id                                      Answer
0    1            4. The Warrior's Way (tt1032751)
1    2           2. Gods and Generals\t(tt0279111)
2    3                3. Winnie the Pooh tt1449283
3    4                                      2. 110
4    5                                      1. 106
5    6                        5. Avatar\ttt0499549
6    7              2. The Warrior's Way tt1032751
7    8                                     1. 1478
8    9               4. The Dark Knight\ttt0468569
9   10               5. The Lone Ranger\ttt1210819
10  11                                    3. Drama
11  12                                    1. Drama
12  13                        3. Steven Soderbergh
13  14                             4. Ridley Scott
14  15                            5. Peter Jackson
15  16                              1. Emma Watson
16  17                            3. Kirsten Dunst
17  18                               3. Matt Damon
18  19                                   2. Action
19  20           1. Universal Pictures (Universal)
20  21                              4. Warner Bros
21  22           2. Universal Pictures (Universal)
22  23                        3. Columbia Pictures
23  24           1. K-19: The Widowmaker tt0267626
24  25           1. K-19: The Widowmaker tt0267626
25  26                                     1. 2014
26  27                                 4. Сентябрь
27  28                                      2. 450
28  29                            5. Peter Jackson
29  30                                     2. Июнь
30  31                              2. Warner Bros
31  32                              2. Warner Bros
32  33                                     3. 2461
33  34  1. Inside Out, Gone Girl, 12 Years a Slave
34  35             Daniel Radcliffe & Rupert Grint
35  36                         3. Robert Rodriguez